@charset "UTF-8";
@font-face {
  font-family: popLight;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}
:root {
  --bs-body-bg: #fff;
  --main-color: #009eff;
  --bs-body-text-align: center;
  --border-color:#707070;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: popLight;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}



body {
  margin: 0;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-color: var(--border-color);
}
/* login */

.login{
  margin: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 20px; 
  margin-top: 10%;
  margin-bottom: 8.7%;
  border-radius: 5px;
  width: 30%;
}


.login h3{
  color: #009EFF;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}

.login p{
  font-size: 15px;
  text-align: left;
  padding-top: 5px;
  color: #474747;
}
.login form .inputWithIcon .form-control {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 0px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  font-weight: 100;
  box-sizing: border-box;
  padding-left: 40px;
}

.login form .inputWithIcon .form-control:focus{
  box-shadow: none;
  border: 1px solid #aaa;
}

.inputWithIcon {
  position: relative;
  padding-bottom: 10px;
  margin: 5px;
} 
.login form .inputWithIcon .material-symbols-outlined {
  position: absolute;
  left: 0;
  top: 2px;
  padding: 4px 8px;
  color: #474747;
  font-size: 28px;
}

.login button{
  margin-top: 10%;
  width: 100%;
  color: var(--bs-body-bg);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0;
}
.login button:hover{
  color: var(--main-color);
  background-color: var(--bs-body-bg);
  border: 1px solid var(--main-color);
  border-radius: 0;
}
/* Header  */
.logo img{
    height: 60px;
    width: 80px;
    float: left;
    justify-content: center;
    align-items: center;
}
.logo h3{
    width: 800px;
    margin-top: 2%;
    color: var(--main-color);
    text-align: left;
    display: relative;
}

.logout a{
    margin: auto 30%;
    margin-top: 25%;
    padding: 2% 4%;
    border: 1px solid;
    font-size: 16px;
    border-color: var(--main-color);
    border-radius: 3px;
    background-color: #fff;
    color: #009eff;
}
.logout a:hover{
    background-color: var(--main-color);
    color: #fff;
}
  
/* Sidebar  */

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 95.5vh;
  margin-left: -16rem;
  transition: margin 0.25s ease-out;
}


#sidebar-wrapper .list-group {
    margin-top: 29.5%;
    text-align: center;
    width: 16rem;
    font-size: 16px;
    border-color: var(--border-color);
}
#sidebar-wrapper .list-group .active{
  background-color: var(--main-color);
  border-color: #009eff;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

.content h5{
  font-size: 22px ;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  color: var(--main-color);
}
.content .setup{
  margin-top: 10%;
  text-decoration: none;
  width: 40%;
  border: 1px solid var(--main-color);
  font-size: 18px;
  background-color: var(--main-color);
  color: #fff;
  padding: 1% 2%;
}
.content .setup:hover{
  background-color: #fff;
  color: var(--main-color);
  border-color: var(--main-color);
}
.content p{
  margin-top: 8%;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
}
.content .info{
  text-decoration: none;
  width: 40%;
  border: 1px solid var(--main-color);
  font-size: 18px;
  background-color: #fff ;
  color:var(--main-color);
  padding: 1% 4.6%;
}
.content .info:hover{
  background-color: var(--main-color);
  color: #fff;
  border-color: var(--main-color);
}

/* companySetup */

.companySetup h5{
  font-size: 22px ;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  color: var(--main-color);
}
.box{
  border: 1px solid var(--border-color);
  padding-bottom: 3%;

}
.box h6{margin: 1%;
  font-size: 20px;
  padding: 1%;
  text-align: left;
  color: var(--main-color);
  font-weight: 600;
}
.inputField {
  padding-top: 8%;
}
input[type="text"], input[type='tel'],input[type='tel'],input[type='password'], input[type='number'], input[type='email'] {
  width: 70%;
  color: #474747;
  font-weight: 600;
  border: 1px solid var(--border-color);
  outline: none;
  padding: 8px; 
  padding-left: 3%;
  box-sizing: border-box;
  margin-bottom: 5%;
}

.box .cancel{
  text-decoration: none;
  border: 1px solid var(--main-color);
  margin: 20% auto 10% 20%;
  color: #009eff;
  padding: 4% 16%;
}
.box .edit{
  text-decoration: none;
  border: 1px solid var(--main-color);
  margin: 20% auto 10% 20%;
  color: #009eff;
  padding: 4% 16%;
}
.box .save{
  text-decoration: none;
  background-color: var(--main-color); 
  margin: 20% auto 10% -40px;
  color: #FFFFFF;
  padding: 4% 20%;
}
.box .cancel:hover{
  background-color: var(--main-color); 
  color: #FFFFFF;
}
.box .save:hover{
  border: 1px solid var(--main-color);
  background-color: #FFFFFF; 
  color: #009eff;
}
.box .selectColor{
  text-decoration: none;
  background-color: var(--main-color); 
  margin: 20% auto 10% 10%;
  color: #FFFFFF;
  padding: 4% 10%;
}
.box .uploadLogo{
  text-decoration: none;
  border: 1px solid var(--main-color);
  margin: 20% 22% 10% auto;
  color: #009eff;
  padding: 4% 5%;
}
/* footer  */

#footer {
  width: 100%;
  top: 0;
  bottom : 0;
  height:25px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 12px ;
}
#footer p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding-top: 4px;
}


@media(max-width:400px){
.logo img{
    height: 80px;
    width: 100px;
}
.logo h3{
    display: none;
}
nav .btn{
  margin: 5%;
}
 .login{
  width: 80%;
}
.content .setup{
  padding: 5%;
}
.content .info{
  padding: 4%;
}
.content p{
  margin-top: 10%;
  padding: 4%;
}

#footer{
  margin-top: 42.7%;
}
.box{
  border: 1px solid var(--border-color);
  padding-bottom: 10%;
  width: 10%;

}
.box .cancel{
  text-decoration: none;
  border: 1px solid var(--main-color);
  margin: 20% auto 10% 20%;
  color: #009eff;
  padding: 4% 16%;
}
.box .save{
  margin: 20% auto 10% -40px;
  padding: 4% 20%;
}
.box .selectColor{
  margin: 2
  0% auto 10% auto;
  padding: 4% 15%;
}
.box .uploadLogo{
  margin: 20% auto 10% auto;
  padding: 4% 15%;
}
.box .cancel{
  margin: 20% auto 10% auto;
  padding: 4% 18%;
}
.box .save{
  text-decoration: none;
  margin: 20% auto 10% auto;
  padding: 4% 20%;
}
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -16rem;
  }
}